# Server
PORT=5000
NODE_ENV=development

# MongoDB
# Local example: mongodb://127.0.0.1:27017/restaurant_platform
# Atlas example: mongodb+srv://<user>:<password>@cluster0.mongodb.net/restaurant_platform
MONGO_URI=mongodb://127.0.0.1:27017/restaurant_platform

# JWT
JWT_SECRET=replace_this_with_a_long_random_secret_string
JWT_EXPIRES_IN=7d

# Loyalty program (unique feature) config
LOYALTY_POINTS_PER_CURRENCY_UNIT=0.1
LOYALTY_REDEEM_THRESHOLD=100
LOYALTY_REDEEM_DISCOUNT_PERCENT=10
